<!--wrapper-->
<div class="wrapper">
    <app-backend-header></app-backend-header>
    <app-backend-navigations></app-backend-navigations>
    <!--start page wrapper -->
    <div class="page-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Community</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:;">
                                    <fa-icon [icon]="faHomeAlt" class="breadcrumb-icon"></fa-icon>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Community</li>
                            <li class="breadcrumb-item">
                                <fa-icon [icon]="faChevronRight" class="breadcrumb-icon"></fa-icon>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Community Highlights</li>
                        </ol>
                    </nav>
                </div>
                <div class="ms-auto">
                    <button type="button" class="btn btn-sm btn-success w-100" data-bs-toggle="modal" data-bs-target="#addCommunity">
                        <fa-icon [icon]="faPlusCircle"></fa-icon>
                        Add Community Highlight Item
                    </button>
                </div>
            </div>
            <!--end breadcrumb-->
            <div class="alert alert-info" role="alert">
                <div class="row">
                    <div class="col-lg-11">
                        <p class="mb-0">
                            Before adding a <strong>Community Highlight</strong>, You need to add <strong>Community Highlight Section</strong> first!
                        </p>
                    </div>
                    <div class="col-lg-1">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mx-auto">
                    <hr/>
                    <div class="card radius-10">
                        <div class="card-body">
                            <div class="table-responsive lead-table">
                                <table class="table mb-0 align-middle" id="datatableCommunityHighlights">
                                    <thead class="table-light">
                                        <tr>
                                            <th>No</th>
                                            <th>Highlights Month</th>
                                            <th>Highlights Image</th>
                                            <th>Maker Name</th>
                                            <th>Maker Link</th>
                                            <th>Maker Origin</th>
                                            <th>Created at</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of communityData; let i = index">
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>{{data.month | date: 'MMMM, y'}}</td>
                                            <td>{{data.image}}</td>
                                            <td>{{data.maker_name}}</td>
                                            <td>{{data.maker_link}}</td>
                                            <td [innerHTML]="data.maker_origin | htmldata"></td>
                                            <td class=" w-25">
                                                {{data.createdAt | date: 'fullDate'}}
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-info me-2 mb-2 w-100"  data-bs-toggle="modal" data-bs-target="#editCommunity" (click)="editData(data.id)">
                                                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                                                    Edit
                                                </a>
                                                <button class="btn btn-sm btn-danger w-100" (click)="confirmBox(data.id, data.image)">
                                                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                                                    Delete
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end row-->
        </div>
    </div>
     <!-- Create Modal -->
     <div class="modal fade" id="addCommunity" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content bg-secondary">
                <div class="modal-header">
                    <h5 class="modal-title text-white">Add New Community Highlight Monthly</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form (ngSubmit)="onSubmit()" enctype="multipart/form-data" ngNativeValidate>
                    <div class="modal-body text-white">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="month" class="form-label">Community Highlights Month</label>
                                <select class="form-select" id="month" name="month" [(ngModel)]="CL.month" placeholder="Community Highlights Month ..." required>
                                    <option selected>Open this select menu</option>
                                    <option *ngFor="let item of communityData2" value="{{item.month}}">{{item.month | date: 'MMMM, y'}}</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label for="monthTemp" class="form-label">C.H. Section Month</label>
                                <select class="form-select" id="monthTemp" name="monthTemp" [(ngModel)]="CL.monthTemp" placeholder="Community Highlights Month ..." #month (change)="onSelected(month.value)" required>
                                    <option selected>Open this select menu</option>
                                    <option *ngFor="let item of communityData2" value="{{item.id}}">{{item.month | date: 'MMMM, y'}}</option>
                                </select>
                                <div id="monthTempHelp" class="form-text text-warning fw-bold">Must be the same as the month</div>
                            </div>
                            <div class="col-lg-4">
                                <label for="under_section" class="form-label">Under Section?</label>
                                <select class="form-select" id="under_section" name="under_section" [(ngModel)]="CL.under_section" placeholder="Under Community Highlights Section..." required>
                                    <option selected>Open this select menu</option>
                                    <option *ngFor="let item of CHSData" value="{{item.chs_name}}">{{item.chs_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12 mt-3">
                            <label for="image" class="form-label">Community Highlights Image</label>
                            <input type="file" accept="image/*" class="form-control" id="image" name="image" [(ngModel)]="CL.image" (change)="selectFile($event)"/>
                        </div>  
                        <div class="col-lg-12 mt-3">
                            <label for="title" class="form-label">Community Highlights Maker Name</label>
                            <input type="text" class="form-control" id="maker_name" name="maker_name" [(ngModel)]="CL.maker_name" placeholder="Community Highlights Maker Name ..." required>
                        </div> 
                        <div class="col-lg-12 mt-3">
                            <label for="title" class="form-label">Community Highlights Maker Link (With https:// or http://)</label>
                            <input type="text" class="form-control" id="maker_link" name="maker_link" [(ngModel)]="CL.maker_link" placeholder="Community Highlights Maker Link ..." required>
                        </div>
                        <div class="col-lg-12 mt-3">
                            <label for="description" class="form-label">Community Highlights Maker Origin</label>
                            <input type="text" class="form-control" id="maker_origin" name="maker_origin" [(ngModel)]="CL.maker_origin" placeholder="Community Highlights Maker Origin ..." required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Close</button>
                        <button
                            class="btn btn-dark btn-sm"
                            data-bs-dismiss="modal">Save Community Highlight Item</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Modal -->
    <div class="modal fade" id="editCommunity" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content bg-secondary">
                <div class="modal-header">
                    <h5 class="modal-title text-white">Edit Community Highlight</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-white">
                    <div class="col-lg-12">
                        <label for="month" class="form-label">Community Highlights Month</label>
                        <select class="form-select" id="month" name="month" #month="ngModel" [(ngModel)]="editCommunity.month" placeholder="Community Highlights Month ..." required>
                            <option selected>Open this select menu</option>
                            <option *ngFor="let item of communityData2" value="{{item.month}}">{{item.month | date: 'MMMM, y'}}</option>
                        </select>
                    </div>
                    <div class="col-lg-12 mt-3">
                        <label for="image" class="form-label">Community Highlights Image</label>
                        <input type="file" accept="image/*" class="form-control" id="image" name="image" [(ngModel)]="editCommunity.image" (change)="selectFile($event)"/>
                    </div>   
                    <div class="col-lg-12 mt-3">
                        <label for="jobTitle" class="form-label">Community Highlights Maker Name</label>
                        <input type="text" class="form-control" id="maker_name" name="maker_name" #maker_name="ngModel" [(ngModel)]="editCommunity.maker_name" placeholder="Maker Name ..." required>
                    </div>
                    <div class="col-lg-12 mt-3">
                        <label for="jobTitle" class="form-label">Community Highlights Maker Link</label>
                        <input type="text" class="form-control" id="maker_link" name="maker_link" #maker_link="ngModel" [(ngModel)]="editCommunity.maker_link" placeholder="Maker Link ..." required>
                    </div>
                    <div class="col-lg-12 mt-3">
                        <label for="jobLocation" class="form-label">Community Highlights Maker Origin</label>
                        <input type="text" class="form-control" id="maker_origin" name="maker_origin" #maker_origin="ngModel" [(ngModel)]="editCommunity.maker_origin" placeholder="Maker Origin ..." required>
                    </div>        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Close</button>
                    <button
                        type="button"
                        class="btn btn-dark btn-sm"
                        data-bs-dismiss="modal"
                        (click)="updateData(id)">Update Community Highlight Item</button>
                </div>
            </div>
        </div>
    </div>
    <!--start overlay-->
    <div class="overlay toggle-icon"></div>
    <!--end overlay-->
    <!--Start Back To Top Button--> 
    <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->
    <app-backend-footer></app-backend-footer>
</div>
<!--end wrapper-->
<app-backend-switcher></app-backend-switcher>