<div class="container-fluid footer-container ps-0 pe-0">
    <div class="container top-section">
        <p class="d-flex justify-content-center community-text mb-2">
            Be a part of our community!
        </p>
        <!-- display on xxl - md screen -->
        <div class="d-none d-xxl-block d-xl-block d-lg-block d-md-block">
            <div class="container social-wrapper">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-1 col-md-2 col-sm-6 col-6 d-flex justify-content-center">
                        <a href="https://discord.com/invite/playsimulacra" target="_blank">
                            <img src="./assets/frontend/Logos/social media/discord_logo.webp" loading="lazy" alt="discord" class="social-icon">
                        </a>
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-6 col-6 d-flex justify-content-center">
                        <a href="https://twitter.com/KaiganHQ" target="_blank">
                            <img src="./assets/frontend/Logos/social media/twitter_logo.webp" loading="lazy" alt="twitter" class="social-icon">
                        </a>
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-6 col-6 d-flex justify-content-center">
                        <a href="https://www.facebook.com/Kaiganhq" target="_blank">
                            <img src="./assets/frontend/Logos/social media/Facebook_Logo.webp" loading="lazy" alt="facebook" class="social-icon">
                        </a>
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-6 col-6 d-flex justify-content-center">
                        <a href="https://www.instagram.com/kaiganhq/" target="_blank">
                            <img src="./assets/frontend/Logos/social media/Instagram_Logo.webp" loading="lazy" alt="instagram" class="social-icon">
                        </a>
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-6 col-6 d-flex justify-content-center">
                        <a href="https://www.youtube.com/channel/UCP9nkYKQpTdIuJgoPnsiaPQ">
                            <img src="./assets/frontend/Logos/social media/youtube.webp" loading="lazy" alt="youtube" class="social-icon">
                        </a>
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-6 col-6"></div>
                </div>
            </div>
        </div>

        <!-- display on sm -->
        <div class="d-none d-sm-block d-md-none">
            <div class="container">
                <div class="d-grid gap-2">
                    <button class="btn btn-discord" type="button">
                        <fa-icon [icon]="faDS"></fa-icon>
                        Discord
                    </button>
                    <button class="btn btn-twitter" type="button">
                        <fa-icon [icon]="faTW"></fa-icon>
                        Twitter
                    </button>
                    <button class="btn btn-facebook" type="button">
                        <fa-icon [icon]="faFB"></fa-icon>
                        Facebook
                    </button>
                    <button class="btn btn-instagram" type="button">
                        <fa-icon [icon]="faIG"></fa-icon>
                        Instagram
                    </button>
                    <button class="btn btn-youtube" type="button">
                        <fa-icon [icon]="faYT"></fa-icon>
                        Youtube
                    </button>
                </div>
            </div>
        </div>

        <!-- display on xs -->
        <div class="d-block d-sm-none">
            <div class="container">
                <div class="d-grid gap-2">
                    <button class="btn btn-discord" type="button">
                        <fa-icon [icon]="faDS"></fa-icon>
                        Discord
                    </button>
                    <button class="btn btn-twitter" type="button">
                        <fa-icon [icon]="faTW"></fa-icon>
                        Twitter
                    </button>
                    <button class="btn btn-facebook" type="button">
                        <fa-icon [icon]="faFB"></fa-icon>
                        Facebook
                    </button>
                    <button class="btn btn-instagram" type="button">
                        <fa-icon [icon]="faIG"></fa-icon>
                        Instagram
                    </button>
                    <button class="btn btn-youtube" type="button">
                        <fa-icon [icon]="faYT"></fa-icon>
                        Youtube
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <div class="container">
            <!-- display on xxl - md screen -->
            <div class="d-none d-xxl-block d-xl-block d-lg-block d-md-block">
                <div class="d-flex justify-content-center">
                    <img src="/assets/frontend/kaigan-logo/Kaigan-logo-RGB.webp" class="kaigan-logo" alt="Kaigan Games Logo">
                    &nbsp;
                    <div class="d-flex align-items-center">
                        <img src="/assets/frontend/kaigan-logo/Kaigan-text-RGB.webp" class="kaigan-text" alt="Kaigan Games Logo">
                    </div>
                </div>
            </div>
            <!-- display on xs -->
            <div class="d-block d-sm-none">
                <div class="d-flex justify-content-center">
                    <div class="col-8 row">
                        <div class="col-4 pe-0">
                            <img src="/assets/frontend/kaigan-logo/Kaigan-logo-RGB.webp" class="w-100" alt="Kaigan Games Logo">
                        </div>
                        <div class="col-8 d-flex align-items-center">
                            <div class="">
                                <img src="/assets/frontend/kaigan-logo/Kaigan-text-RGB.webp" class="w-100" alt="Kaigan Games Logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center footer-nav">
            <div class="row">
                <ul class="footer-menu">
                    <li class="footer-item">
                      <a class="footer-link" aria-current="page" routerLink="/about">ABOUT</a>
                    </li> 
                    <li class="footer-item">
                      <a class="footer-link" routerLink="/community">COMMUNITY</a>
                    </li>
                    <li class="footer-item">
                      <a class="footer-link" routerLink="/contact">CONTACT</a>
                    </li>  
                    <li class="footer-item">
                      <a class="footer-link" routerLink="/careers">CAREERS</a>
                    </li>   
                    <li class="footer-item">
                      <a class="footer-link" routerLink="/press">PRESS</a>
                    </li>                
                </ul>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-center pb-2 bottom-text">
            <p class="mb-0 text-center">Copyright &copy; {{currentYear}} Kaigan Games. All rights reserved.</p>
        </div>
    </div>
</div>
