<nav class="navbar navbar-dark navbar-expand-lg bg-dark frontend-navbar">
    <div class="container-fluid navbar-wrapper">
      <a class="navbar-brand" routerLink="">
        <div class="d-none d-xxl-block d-xl-block d-lg-block">
          <div class="row d-flex align-items-center">
            <img src="/assets/frontend/kaigan-logo/Kaigan-logo-RGB.webp" class="kaigan-logo" alt="Kaigan Games Logo">
            <img src="/assets/frontend/kaigan-logo/Kaigan-text-RGB.webp" class="kaigan-text" alt="Kaigan Games Logo">
          </div>
        </div>
        <div class="d-none d-sm-block d-md-block d-lg-none">
            <img src="/assets/frontend/kaigan-logo/Kaigan-logo-RGB.webp" class="kaigan-logo" alt="Kaigan Games Logo">
        </div>
        <div class="d-block d-sm-none">
          <div class="d-flex align-item-center">
            <img src="/assets/frontend/kaigan-logo/Kaigan-logo-RGB.webp" class="kaigan-logo" alt="Kaigan Games Logo">
          </div>
        </div>
      </a>
      
      <div class="d-xxl-none d-xl-none d-lg-none">
        <button class="navbar-toggler d-flex align-items-center nav-icon2" id="nav-icon2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <div class="d-xxl-none d-xl-none d-lg-none d-flex align-items-center">
          <ul class="navbar-nav w-100">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/about" routerLinkActive="active">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/community" routerLinkActive="active">community</a>
            </li>			
            <li class="nav-item">
              <a class="nav-link" routerLink="/news" routerLinkActive="active">news</a>
            </li>	
            <li class="nav-item">
              <a class="nav-link" routerLink="/dev-blog" routerLinkActive="active">dev blog</a>
            </li>	
            <li class="nav-item">
              <a class="nav-link" routerLink="/careers" routerLinkActive="active">careers</a>
            </li>		
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact" routerLinkActive="active">contact</a>
            </li>					
          </ul>
        </div>
  
        <div class="d-none d-xxl-block d-xl-block d-lg-block">
          <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul> -->
          <ul class="navbar-nav d-flex justify-content-end">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/about" routerLinkActive="active">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/community" routerLinkActive="active">community</a>
            </li>			
            <li class="nav-item">
              <a class="nav-link" routerLink="/news" routerLinkActive="active">news</a>
            </li>	
            <li class="nav-item">
              <a class="nav-link" routerLink="/dev-blog" routerLinkActive="active">dev blog</a>
            </li>	
            <li class="nav-item">
              <a class="nav-link" routerLink="/careers" routerLinkActive="active">careers</a>
            </li>	
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact" routerLinkActive="active">contact</a>
            </li>	
          </ul>
        </div>
      </div>
    </div>
  </nav>
  