<!--wrapper-->
<div class="wrapper">
    <app-backend-header></app-backend-header>
    <app-backend-navigations></app-backend-navigations>
    <!--start page wrapper -->
    <div class="page-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Press</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:;">
                                    <fa-icon [icon]="faHomeAlt" class="breadcrumb-icon"></fa-icon>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Press</li>
                        </ol>
                    </nav>
                </div>
                <div class="ms-auto">
                    <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#addPress">
                        <fa-icon [icon]="faPlusCircle"></fa-icon>
                        Add New Press
                    </button>
                </div>
            </div>
            <!--end breadcrumb-->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mx-auto">
                    <hr/>
                    <div class="card radius-10">
                        <div class="card-body">
                            <div class="table-responsive lead-table">
                                <table class="table mb-0 align-middle" id="pressData">
                                    <thead class="table-light">
                                        <tr>
                                            <th>No</th>
                                            <th>Press Title</th>
                                            <th>Press Content</th>
                                            <th>Press Source Link</th>
                                            <th>Created at</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of pressData; let i = index">
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>{{data.press_title}}</td>
                                            <td class=" w-25" [innerHTML]="data.press_content | htmldata"></td>
                                            <td>{{data.press_source_link}}</td>
                                            <td class=" w-25">
                                                {{data.createdAt | date: 'fullDate'}}
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-info mb-2 w-100"  data-bs-toggle="modal" data-bs-target="#editPress" (click)="editData(data.id)">
                                                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                                                    Edit
                                                </a>
                                                <button class="btn btn-sm btn-danger w-100" (click)="confirmBox(data.id)">
                                                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                                                    Delete
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end row-->
        </div>
    </div>
    <!--end page wrapper -->
    <!-- Create Modal -->
    <div class="modal fade" id="addPress" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content bg-secondary">
                <div class="modal-header">
                    <h5 class="modal-title text-white">Add New Press</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                    <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                        <div class="modal-body text-white">
                            <div class="col-md-12 mb-2">
                                <label for="pressTitle" class="form-label">Press Title</label>
                                <input type="text" class="form-control" id="pressTitle" name="press_title" [(ngModel)]="pressList.press_title" placeholder="Press Title ..." required>
                            </div>
                            <div class="col-lg-12 mb-2">
                                <label for="pressContent" class="form-label">Press Content</label>
                                <editor 
                                apiKey="8fmhf5ag7w69r6yqybyor3z3xyh9bdyqr9h4k4zd6e1icumy" 
                                [init]="{ plugins: 'lists link image table code help wordcount'}"
                                id="pressContent"
                                required
                                [(ngModel)]="pressList.press_content"
                                name="press_content"></editor>
                            </div>
                            <div class="col-md-12 mb-2">
                                <label for="press_source_link" class="form-label">Source URL</label>
                                <input type="url" class="form-control" id="press_source_link" name="press_source_link" [(ngModel)]="pressList.press_source_link" placeholder="Source URL ..." required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Close</button>
                            <button
                                class="btn btn-dark btn-sm"
                                data-bs-dismiss="modal">Save Press</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
    <!-- Edit Modal -->
    <div class="modal fade" id="editPress" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content bg-secondary">
                <div class="modal-header">
                    <h5 class="modal-title text-white">Edit Press Data</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-white">
                    <div class="col-md-12 mb-2">
                        <label for="pressTitleEdit" class="form-label">Press Title</label>
                        <input type="text" class="form-control" id="pressTitleEdit" name="press_title" #press_title="ngModel" [(ngModel)]="editPressForm.press_title" placeholder="Press Title ..." required>
                    </div>
                    <div class="col-lg-12 mb-2">
                        <label for="pressContentEdit" class="form-label">Press Content</label>
                        <editor 
                        apiKey="8fmhf5ag7w69r6yqybyor3z3xyh9bdyqr9h4k4zd6e1icumy" 
                        [init]="{ plugins: 'lists link image table code help wordcount'}"
                        id="pressContentEdit"
                        required
                        #press_content="ngModel"
                        [(ngModel)]="editPressForm.press_content"
                        name="press_content"></editor>
                    </div>
                    <div class="col-md-12 mb-2">
                        <label for="press_source_linkEdit" class="form-label">Source URL</label>
                        <input type="url" class="form-control" id="press_source_linkEdit" name="press_source_link" #press_source_link="ngModel" [(ngModel)]="editPressForm.press_source_link" placeholder="Source URL ..." required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Close</button>
                    <button
                        type="button"
                        class="btn btn-dark btn-sm"
                        data-bs-dismiss="modal"
                        (click)="updateData(id)">Update Group Open Position</button>
                </div>
            </div>
        </div>
    </div>
    <!--start overlay-->
    <div class="overlay toggle-icon"></div>
    <!--end overlay-->
    <!--Start Back To Top Button--> 
    <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->
    <app-backend-footer></app-backend-footer>
</div>
<!--end wrapper-->
<!--start switcher-->
<app-backend-switcher></app-backend-switcher>