<!--start switcher-->
<div class="switcher-wrapper">
    <div class="switcher-btn"> 
        <fa-icon [icon]="faCog" animation="spin"></fa-icon>
    </div>
    <div class="switcher-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0 text-uppercase">Theme Customizer</h5>
            <button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
        </div>
        <hr/>
        <p class="mb-0">Gaussian Texture</p>
        <hr>
        <ul class="switcher">
            <li id="theme1" class="theme1"></li>
            <li id="theme2" class="theme2"></li>
            <li id="theme3" class="theme3"></li>
            <li id="theme4" class="theme4"></li>
            <li id="theme5" class="theme5"></li>
            <li id="theme6" class="theme6"></li>
        </ul>
        <hr>
        <p class="mb-0">Gradient Background</p>
        <hr>
        <ul class="switcher">
            <li id="theme7" class="theme7"></li>
            <li id="theme8" class="theme8"></li>
            <li id="theme9" class="theme9"></li>
            <li id="theme10" class="theme10"></li>
            <li id="theme11" class="theme11"></li>
            <li id="theme12" class="theme12"></li>
            <li id="theme13" class="theme13"></li>
            <li id="theme14" class="theme14"></li>
            <li id="theme15" class="theme15"></li>
          </ul>
    </div>
</div>
<!--end switcher-->