<app-navbar></app-navbar>
<div class="container-fluid page-wrapper">
    <div class="container">
        <h2 class="title">press</h2>
        <div class="fact-sheet">
            <h5 class="fw-bold title-section">facts sheet</h5>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <h5 class="fw-bold">About Kaigan Games</h5>
                    <a href="">Download</a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <h5 class="fw-bold">Simulacra</h5>
                    <a href="">Download</a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <h5 class="fw-bold">Simulacra 2</h5>
                    <a href="">Download</a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <h5 class="fw-bold">Simulacra 3</h5>
                    <a href="">Download</a>
                </div>
            </div>
        </div>
        <div class="media-contact">
            <h5 class="fw-bold title-section">media contacts</h5>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                    <h5 class="fw-bold">Media Inquiries</h5>
                    <p>info@kaigangames.com</p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                    <h5 class="fw-bold">Twitter</h5>
                    <p>Kaigan Games</p>
                    <p>SIMULACRA</p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                    <h5 class="fw-bold">Facebook</h5>
                    <p>Kaigan Games</p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                    <h5 class="fw-bold">Instagram</h5>
                    <p>Kaigan Games</p>
                </div>
            </div>
        </div>
        <div class="logos">
            <h5 class="fw-bold title-section">logos</h5>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <img src="./assets/games/1597982653_SIM1_265x350.webp" class="w-100" alt="1597982653_SIM1_265x350.webp" loading="lazy">
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <img src="./assets/games/1597983314_SIM2_265x350 (1).webp" class="w-100" alt="1597983314_SIM2_265x350 (1).webp" loading="lazy">
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <img src="./assets/games/1597983077_sim_pipe_dreams (1).webp" class="w-100" alt="1597983077_sim_pipe_dreams (1).webp" loading="lazy">
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <img src="./assets/games/sim3.webp" class="w-100" alt="sim3.webp" loading="lazy">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                    <img src="./assets/logo/Kaigan Games Logo.webp" class="w-100" alt="Kaigan Games Logo.webp" loading="lazy">
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                    <img src="./assets/logo/Kaigan-logo-RGB-2.webp" class="w-100" alt="Kaigan-logo-RGB-2.webp" loading="lazy">
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                    <img src="./assets/logo/KaiganBW-white.webp" class="w-100" alt="KaiganBW-white.webp" loading="lazy">
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                    <img src="./assets/logo/KaiganBW-black.webp" class="w-100" alt="KaiganBW-black.webp" loading="lazy">
                </div>
            </div>
        </div>
        <div class="videos">
            <h5 class="fw-bold title-section">videos</h5>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                    <iframe class="w-100" src="https://www.youtube.com/embed/p4iKN8FcGZs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                    <iframe class="w-100" src="https://www.youtube.com/embed/SkUWP_OgNNQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                    <iframe class="w-100" src="https://www.youtube.com/embed/x3ga7pYyWAY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                    <iframe class="w-100" src="https://www.youtube.com/embed/NqHqMAcG--w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>