<!--wrapper-->
<div class="wrapper">
    <app-backend-header></app-backend-header>
    <app-backend-navigations></app-backend-navigations>
    <!--start page wrapper -->
    <div class="page-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <fa-icon [icon]="faSlider" class="breadcrumb-icon"></fa-icon>                                
                            </li>
                            <li class="breadcrumb-item">
                                <fa-icon [icon]="faChevronRight" class="breadcrumb-icon"></fa-icon>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">About</li>
                            <li class="breadcrumb-item">
                                <fa-icon [icon]="faChevronRight" class="breadcrumb-icon"></fa-icon>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Life at Kaigan</li>
                        </ol>
                    </nav>
                </div>
                <div class="ms-auto">
                    <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#addTeamImage">Add New Image</button>
                </div>
            </div>
            <!--end breadcrumb-->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mx-auto">
                    <hr/>
                    <div class="card radius-10">
                        <div class="card-body">
                            <div class="table-responsive lead-table">
                                <table class="table mb-0 align-middle" id="datatableAboutTI">
                                    <thead class="table-light">
                                        <tr>
                                            <th>No</th>
                                            <th>Image</th>
                                            <th>Created at</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let image of aboutTeamImageData; let i = index;">
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>{{image.image}}</td>
                                            <td class=" w-25">
                                                {{image.createdAt | date: 'fullDate'}}
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-danger w-100" (click)="confirmBox(image.id, image.image)">
                                                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                                                    Delete
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end row-->
        </div>
    </div>
    <!--end page wrapper -->
    <!-- Modal -->
    <div class="modal fade" id="addTeamImage" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content bg-secondary">
                <div class="modal-header">
                    <h5 class="modal-title text-white">Add New Image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                    <div class="modal-body text-white">
                        <div class="col-md-12 mb-2">
                            <label for="gameName" class="form-label">Team Image</label>
                            <input type="file" class="form-control" accept="image/*" id="image" name="image" [(ngModel)]="aboutTeamImage.image" (change)="selectFile($event)"/>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-center">
                            <img [src]="preview" class="preview w-100">
                        </div>
                        <div *ngIf="currentFile && progress" class="progress my-3">
                            <div
                              class="progress-bar progress-bar-info"
                              role="progressbar"
                              attr.aria-valuenow="{{ progress }}"
                              aria-valuemin="0"
                              aria-valuemax="100"
                              [ngStyle]="{ width: progress + '%' }">
                              {{ progress }}%
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        <button
                            class="btn btn-dark btn-sm"
                            data-bs-dismiss="modal"
                            [disabled]="!selectedFiles"
                            (click)="onSubmit()">Save Image</button>
                    </div>
            </div>
        </div>
    </div>
    <!--start overlay-->
    <div class="overlay toggle-icon"></div>
    <!--end overlay-->
    <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->
    <app-backend-footer></app-backend-footer>
</div>
<!--end wrapper-->
<app-backend-switcher></app-backend-switcher>