<div class="wrapper-we-aim-for" data-aos="fade-up" data-aos-duration="1500">
    <h1>Meet Our Founders</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-3 col-lg-3 col-md-4 col-12" data-aos="fade-up" data-aos-duration="1500">
            <img src="./assets/frontend/photos/KaiganGames_8896-b (1).webp" loading="lazy" class="w-100" alt="">
            <h3 class="text-center mt-2">Azmi Shah</h3>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-12" data-aos="fade-up" data-aos-duration="1500">
            <img src="./assets/frontend/photos/KaiganGames_8890-b (1).webp" loading="lazy" class="w-100" alt="">
            <h3 class="text-center mt-2">Shahrizar Roslan</h3>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-12" data-aos="fade-up" data-aos-duration="1500">
            <img src="./assets/frontend/photos/KaiganGames_8915-b (1).webp" loading="lazy" class="w-100" alt="">
            <h3 class="text-center mt-2">Jeremy Ooi</h3>
        </div>
    </div>
</div>