<div class="wrapper-indonesian-team" data-aos="fade-up" data-aos-duration="1500">
    <p class="mb-5">
        Kaigan Games is growing. We are excited to introduce our team from Indonesia. With their extensive expertise and diverse backgrounds, they bring a wealth of knowledge and fresh perspectives to our organization. Their presence reflects our commitment to expanding our reach and appreciate the diversity. Together, we collaborate, innovate, and achieve new milestones as we grow and thrive.
    </p>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 indonesianEmployee d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1500">
            <img src="./assets/frontend/photos/Website Photos-Arief.webp" loading="lazy" class="w-100" alt="">
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 indonesianEmployee d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1500">
            <img src="./assets/frontend/photos/Website Photos-Innamul.webp" loading="lazy" class="w-100" alt="">
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 indonesianEmployee d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1500">
            <img src="./assets/frontend/photos/Website Photos-Redda.webp" loading="lazy" class="w-100" alt="">
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 indonesianEmployee d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1500">
            <img src="./assets/frontend/photos/Website Photos-Robert.webp" loading="lazy" class="w-100" alt="">
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 indonesianEmployee d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1500">
            <img src="./assets/frontend/photos/Website Photos-Iva.webp" loading="lazy" class="w-100" alt="">
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 indonesianEmployee d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1500">
            <img src="./assets/frontend/photos/Website Photos-Firman.webp" loading="lazy" class="w-100" alt="">
        </div>
    </div>
</div>